.Excel-to-Json{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .Uploaded-fileName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.Convert-button{
        font-size: larger;
     background-color: #208cff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
}
.Convert-button:disabled{
    background-color: #6ab2ff;
}
.Json-object-wrapper{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
}