.disinfectants-wrapper{
    width: 100%;
    font-size: var(--my-font);
}

.disinfectants-catergory-with-title{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catergory-card-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    gap: 15px;
}
.title-page{
    padding: 10px;
}